<div class="bg-black prose prose-invert text-white py-4 text-center w-full">
  <%= link_to root_path, class: "no-underline" do %>
    <h1 class="text-3xl font-bold">Vinyl Kitchen Session</h1>
  <% end %>
</div>